
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: #111;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode a {
    color: #fff;
}

.dark-mode .dark-mode-button {
    background-color: #fff;
    color: #111;
}


.dark-mode main {
    background-color: #111;
    color: #fff;
}


.dark-mode #profilepic {
    border: 2px solid #fff;
}


.light-mode {
    background-color: #f9f9f9;
    color: #333;
}

.light-mode header {
    background-color: #c23841;
}

.light-mode a {
    color: #333;
}

.light-mode .dark-mode-button {
    background-color: #111;
    color: #fff;
}


.light-mode main {
    background-color: #fff;
    color: #333;
}


.light-mode #profilepic {
    border: 2px solid #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    line-height: 3.0; 
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #c23841;
}

ul {
    list-style-type: none;
}


header {
    background-color: #c23841;
    color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

.dark-mode-button {
    cursor: pointer;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dark-mode-button:hover {
    background-color: #222;
}


main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}


#profilepic {
   
}